[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pyqt5 = "*"
uavcan = "*"
qtawesome = "*"
pyserial = "*"
pyyaml = "*"
qtconsole = "*"

[requires]
python_version = "3.7"
